/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.event__year, .event__year--current, .event__subheading--time, .event__subheading, .event__heading {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.include, .sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  font: normal normal normal 16px/1.4 Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  background-color: #969696;
  color: #212121;
  min-width: 320px;
}
@media only screen and (min-width: 768px) {
  body {
    min-width: 768px;
  }
}
@media only screen and (min-width: 769px) {
  body {
    min-width: 769px;
  }
}
@media print {
  body {
    font-size: 10pt;
  }
}

a {
  transition: color 0.5s linear;
  color: #4b4bff;
  text-decoration: none;
}
a:active, a:focus, a:hover {
  color: #0000e4;
  text-decoration: underline;
}
a:visted {
  color: #0000b1;
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: disc;
  margin-left: 1.4em;
}

ul ul {
  list-style: circle;
}

::-moz-selection {
  background: #ffffcb;
  text-shadow: none;
}

::selection {
  background: #ffffcb;
  text-shadow: none;
}

.wrapper {
  margin: 0.7em auto;
  max-width: 767px;
  min-width: 320px;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    min-width: 768px;
    max-width: 768px;
  }
}
@media only screen and (min-width: 769px) {
  .wrapper {
    min-width: 769px;
    max-width: 960px;
  }
}

.island, .island--about {
  box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  background: white;
  margin: 0 0.7em 0.7em;
  padding: 1.4em;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .island, .island--about {
    margin: 0 0.7em;
    padding: 0.7em 1.4em;
  }
}
@media only screen and (min-width: 769px) {
  .island, .island--about {
    padding: 2.75em 0 0.7em;
    margin-left: 4.125em;
  }
}
@media print {
  .island, .island--about {
    box-shadow: none;
    padding: 0;
  }
}
@media only screen and (min-width: 769px) {
  .island--about {
    padding-top: 4.125em;
  }
}

.island__heading, .island__heading--about {
  box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.25);
  font-size: 28px;
  font-size: 1.75rem;
  letter-spacing: -1px;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.5);
  background-color: #4b4bff;
  color: #ffffcb;
  display: inline-block;
  margin-bottom: 0.3928571429em;
  padding: 0 0.3928571429em;
}
@media only screen and (min-width: 769px) {
  .island__heading, .island__heading--about {
    transform: rotate(-4deg);
    transition: all 0.5s linear;
    left: -2.3571428571em;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  .island__heading:hover, .island__heading--about:hover {
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5);
  }
}
@media print {
  .island__heading, .island__heading--about {
    box-shadow: none;
    text-shadow: none;
    background-color: transparent;
    color: black;
    font-size: 18pt;
    padding: 0;
  }
}
@media only screen and (min-width: 769px) {
  .island__heading--about {
    margin-top: 0.7857142857em;
  }
}

.contact--footer, .contact--header {
  padding: 1.4em;
  text-align: center;
}
@media print {
  .contact--footer, .contact--header {
    padding: 0 0 0.7em;
  }
}

@media only screen and (min-width: 768px) {
  .contact--header {
    border-bottom: 4px solid #4b4bff;
  }
}
@media print {
  .contact--header {
    border-bottom: 2px solid black;
  }
}
.contact--header > a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .contact--footer {
    border-top: 4px solid #4b4bff;
  }
}
@media print {
  .contact--footer {
    display: none;
  }
}

.contact__name {
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
}
@media print {
  .contact__name {
    font-size: 22pt;
  }
}

.contact__title {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: bold;
}
@media print {
  .contact__title {
    font-size: 16pt;
    line-height: 1;
  }
}

.contact__info--ref, .contact__info {
  list-style: none;
  margin-left: 0;
}

.contact__info {
  padding: 0.7em 0 0;
}

.contact--footer > .contact-info {
  padding: 0;
}

.contact__info > li {
  display: inline;
  padding-left: 1.4em;
}
.contact__info > li:first-child {
  padding-left: 0;
}

.event {
  margin-bottom: 0.7em;
}
@media only screen and (min-width: 769px) {
  .event {
    padding: 0.7em 1.4em 0.7em 6.1875em;
    position: relative;
  }
}
@media print {
  .event {
    margin-bottom: 1.4em;
    padding: 0;
  }
}
.event__heading {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1;
}
@media print {
  .event__heading {
    font-size: 12pt;
  }
}

.event__subheading--time {
  line-height: 1;
  margin-bottom: 0.7em;
}
@media only screen and (min-width: 769px) {
  .event__subheading--time {
    left: 1.4em;
    position: absolute;
    top: 0.7em;
    width: 4.125em;
  }
}

.event__year:before, .event__year--current:before {
  content: "20";
}
@media only screen and (min-width: 769px) {
  .event__year, .event__year--current {
    font-size: 28px;
    font-size: 1.75rem;
    display: block;
  }
  .event__year:before, .event__year--current:before {
    content: "";
  }
}
@media print {
  .event__year, .event__year--current {
    font-size: 10pt;
  }
}
.event__year--current {
  font-size: 16px;
  font-size: 1rem;
}
.event__year--current:before {
  content: "";
}
@media print {
  .event__year--current {
    font-size: 10pt;
  }
}

.event__details {
  margin-top: 0.7em;
}

a.event__details {
  display: block;
}

.event__image {
  border: 1px outset rgba(0, 0, 0, 0.1);
  box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.25);
  margin-top: 0.7em;
}
@media only screen and (min-width: 769px) {
  .event__image {
    transition: all 0.5s linear;
  }
  .event__image:hover {
    border: 1px outset rgba(0, 0, 0, 0.2);
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5);
  }
}

.linear {
  margin-left: 0;
}
@media only screen and (min-width: 769px) {
  .linear {
    margin-left: 1.4em;
  }
}
.linear > li {
  display: inline;
}
.linear > li:after {
  content: ", ";
}
.linear > li:last-child:after {
  content: ".";
}
@media only screen and (min-width: 769px) {
  .linear > li {
    display: list-item;
  }
  .linear > li:after {
    content: "";
  }
  .linear > li:last-child:after {
    content: "";
  }
}

@media print {
  #projects {
    display: none;
  }

  #experience > .event:nth-child(3) {
    page-break-after: always;
  }
}